body{
    background-color:black;
}
.h1-main{
    text-align: center;
    color: chartreuse;
    font-family: calibri;
}
.h1-tags{
    color: chartreuse;
    font-family: calibri;
    text-align: center;
}
#body-tags{
      background-color: black;
}
summary{
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display:flex;
    gap:20px;
    align-items:center;
}
.p1{
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
h2{
    color: wheat;
}